<html>

	<head>
	  <title>Connect 4</title>

		<link rel='stylesheet' href='../stylesheets/style.css' />
	  <script type="text/javascript" src="javascripts/jquery.min.js"></script>
	  <script type="text/javascript" src="/nowjs/now.js"></script>
	  <script type="text/javascript">

			// jquery shit
			$().ready(function(){
				$('.chat-input input').live('keypress', function(e) {
					if (e.keyCode == 13) {
						
						now.submit_chat($(this).val());
					}
				});
			});
	
			// nowjs shit. Each client has a now object, 
			// a namespace shared between the server and this client. 
			// The server calls these now.whatever functions
	
			now.update_clients_list_callback = function(users_hash) {
				// update the list of clients we show (connect callback)
				var html = '<ul>',
						username,
						user_obj;
				
				for (var client_id in users_hash) {
					user_obj = users_hash[client_id];
					username = user_obj.username;
					html += '<li class="name">' + username + '</li>';
				}
		
				html += '</ul>';
				$('.clients-list').html(html);
			}
		
			now.update_chat_log = function(message) {
				var user = message.user,
						text = message.text,
						username = user.username;
						
				var html = '<div class="message"><span class="name">'+username+'</span>: '+text+'</div>';
				$('.messages').append(html);
			}
	  </script>
	</head>

	<body>
		<div class="container-game">
			
			<div class="game-board-wrapper"></div>
			
			<div class="sidebar">
				<div class="users-wrapper">
					<h2>Users</h2>
					<div class="clients-list"></div>
				</div>
				<div class="chat-wrapper">
					<h2>Chat</h2>
					<div class="messages">
					</div>
					<div class="chat-input">
						<input type="text" placeholder="enter a message"></input>
					</div>
				</div>
			</div>
			
		</div>
	</body>

</html>